*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/fullVariant/release/app-fullVariant-release.apk
/.idea/appInsightsSettings.xml
/key/context_player_key_new.jks
/.idea/kotlinc.xml
/.idea/migrations.xml
